<div class="demo-clom">
    <div class="container">

        <h3>Demo Practice test-practice works!</h3>

        <input type="text" >

        <button (click)="loadCourse()">Load List</button>
        <ul>
            <li *ngFor="let course of courses"> 
                {{course.id}} {{course.name}}</li>
        </ul>
    </div>

    <button [style.backgroundColor]="canSave ? 'blue': 'gray'"
    [style.color]="canSave ? 'white': 'black'"
    [style.fontWeight]="canSave ? 'bold': 'normal'"
    >Save</button>
</div>