.product-clm {
	display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
}

.product-clm div {
	background: #c1c1c1;
	padding: 40px 20px 30px;
	text-align: center;
	border-radius: 19px;
    width: 31%;
    margin: 10px;
}

.product-clm p {
	color: #0c0f18;
	font-weight: 600;
	margin-bottom: 5px;
}

.product-clm p span{
	color: #04500a;
}